body {
  background-color: grey;
}

.display-box{
  display: flex;
  justify-content: space-around;

}
.text-entry, .ember-cli-g-map  {
  float: left;
  width: 49%;
}

.text-entry {
  background-color: white;
  height: 750px;
  width: 450px;
  border: 1px solid black;

}

.ember-cli-g-map {
    height: 750px;
    width: 750px;
    border: 1px solid black;
}
